// 这里定义项目使用的颜色变量
$content-fontcolor: #333333; //内容文字
$medium-fontcolor: #666666; //中等色深文字
$light-fontcolor: #999999; //高色深文字
$theme-color: #f07c82; //主题颜色
// $theme-color2: #0091ff
$input-color: #f5f5f5; //输入框颜色
$placeholder-color: #b7b7b7; //占位文字
$content-bgcolor: #f1f1f1; //内容背景颜色
$highline-font: #e93b3b; //高亮文字
$content-notice-fontcolor: #777777; //提示文字
$bg-color: #fff; //高白背景
